<nav>
    <div class="nav-logo">
        <h1>Portal de Mantenimiento // Regional Neuquén</h1>
    </div>
        <div class="nav-options">
            <a href="/main/nuevo-caso" class="nav-option">Nuevo Caso</a>
            <a href="/main/informes" class="nav-option">Informes</a>
            <a href="/main/informacion" class="nav-option">Información</a>
            <a href="/main/editar" class="nav-option">Editar</a>
            <a href="/main" class="nav-option">Menú principal</a>
            <a href="/main/registro" class="nav-option">Registro</a>
            <a href="/main/ingreso" class="nav-option">Ingreso</a>
        </div>
</nav>