<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('./partials/head',{title:"gmdiag | información"})%>

<body>
    <%- include('./partials/nav')%>

    <h2>Información</h2>
    
</body>
</html>