<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('./partials/head',{title:"gmdiag | menú principal"})%>

<body>
    <%- include('./partials/nav')%>

    <h2>Menú principal</h2>
    
</body>
</html>